<% user = local_assigns[:user] || Current.user %>
<% unread_count = Notification.unread_count_for(user) %>
<% if unread_count > 0 %>
  <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center">
    <%= unread_count > 9 ? '9+' : unread_count %>
  </span>
<% end %>
