<% content_for :title, "#{@user.username} のフォロワー" %>

<div class="mb-8">
  <h1 class="text-3xl font-bold text-gray-900"><%= @user.username %> のフォロワー</h1>
  <p class="mt-2 text-gray-600"><%= link_to "@#{@user.username}", user_path(@user.username), class: "text-blue-500 hover:underline" %> のページに戻る</p>
</div>

<%= render "users/user_list", users: @users %>
