<div id="follow_stats_<%= user.id %>" class="flex gap-6 text-sm text-gray-600">
  <div>
    <span class="font-semibold text-gray-900"><%= user.following.count %></span>
    <span>フォロー中</span>
  </div>
  <div>
    <span class="font-semibold text-gray-900"><%= user.followers.count %></span>
    <span>フォロワー</span>
  </div>
</div>
